@import "tailwindcss";

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes scaleUp {
   0% {
      transform: scale(0.6);
      opacity: 0;
   }
   100% {
      transform: scale(1);
      opacity: 1;
   }
}

.animate-fadeIn {
   animation: fadeIn 0.5s ease-out forwards;
}

.animate-scaleUp {
   animation: scaleUp 0.5s ease-out forwards;
}
